.skin_color {
    height: 35px;
    background: #CEDBA2;
    margin-top: -5px;
}

.form {
    margin-top: 0px;
}

.div1 {
    border: 5px darkcyan solid;
    float: left;
    margin-top: 0px;
    height: 96%;
    width: 19%;
}

.content {
    float: right;
    margin-top: 0px;
    float: bottom;
    height: 97%;
    width: 80%;
    background: cyan;
}

.back_bn {
    margin-top: 4px;
    background: palegoldenrod;
    border-radius: 8px;
}

a {
    text-decoration: none;
}

.iframeRight {
    float: right;
    float: bottom;
    height: 100%;
    width: 100%;
    background: slategray;
}
